################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BikeRentalDB/.vs
/BikeRentalDB/BikeRentalASP/bin/Debug/netcoreapp2.0
/BikeRentalDB/BikeRentalASP/obj
/BikeRentalDB/BikeRentalTest/bin/Debug/netcoreapp2.0
/BikeRentalDB/BikeRentalTest/obj
